<div class="justcenter">
  <h2>Create patient profile</h2>
  <form [formGroup]="myForm" novalidate (submit)="submit()" class="example-form">

    <mat-form-field class="example-full-width">
      <mat-label>Photo</mat-label>
      <input type="text" matInput readonly name="photo" (click)="fileInput.click()" formControlName="photo" />
      <button type="button" mat-icon-button matSuffix (click)="fileInput.click()">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button type="button" mat-icon-button matSuffix (click)="clearFileSelected()"><mat-icon>clear</mat-icon></button>
      <input hidden (change)="onFileSelected()" accept=".jpg,.jpeg,.png" #fileInput type="file" id="file" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input type="text" matInput name="firstName" formControlName="firstName" />
      <mat-error *ngIf="myForm.controls['firstName'].errors?.['required']">Please, enter the First Name </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Middle Name</mat-label>
      <input type="text" matInput name="middleName" formControlName="middleName" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input type="text" matInput name="lastName" formControlName="lastName" />
      <mat-error *ngIf="myForm.controls['lastName'].errors?.['required']">Please, enter the Last Name </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Phone Number</mat-label>
      <span matPrefix>+</span>
      <input type="number" matInput name="phone" formControlName="phone" placeholder="298926468"/>
      <mat-error *ngIf="myForm.controls['lastName'].errors?.['required']">Please, enter the phone number </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Date Of Birth</mat-label>
      <input matInput [matDatepicker]="picker" name="dateOfBirth" formControlName="dateOfBirth" />
      <mat-error *ngIf="myForm.controls['dateOfBirth'].errors?.['required']">Please, select the date </mat-error>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="form-group">
      <button mat-raised-button color="primary" [disabled]="myForm.invalid">Create</button>
    </div>
  </form>
</div>
