.justcenter {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: auto;
  margin-top: 1rem;
}
.justcenter p {
  margin-top: 1rem;
  text-align: justify;
}

.justcenter img {
  width: 100%;
  height: auto;
}
