.example-form {
  min-width: 350px;
  max-width: 350px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.form-group {
  display: flex;
  justify-content: center;
  button {
    margin: 0 5px;
    display: block;
  }
}

.justcenter{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  flex-direction: column;
  align-items: center;
}



