.justcenter {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
  margin: auto;
  margin-top: 1rem;
}

.tabletitle{
  margin: 20px 0;
  font-weight: 500;
}
