<mat-toolbar color="primary">
  <mat-icon>accessible</mat-icon>
  <a [routerLink]="['home']">{{ title }}</a>
  <div style="margin: 10px"></div>
  <a *ngIf="false" [routerLink]="['home']" mat-button>
    <mat-icon>domain</mat-icon>
    Offices
  </a>
  <a [routerLink]="['doctors/list']" mat-button>
    <mat-icon>people</mat-icon>
    Doctors
  </a>
  <a *ngIf="authService.isReceptionost()" [routerLink]="['schedule/receptionist']" mat-button>
    <mat-icon>event</mat-icon>
    Appointments
  </a>
  <a *ngIf="authService.isDoctor()" [routerLink]="['schedule/doctor']" mat-button>
    <mat-icon>event</mat-icon>
    My schedule
  </a>
  <a [routerLink]="['services/category']" mat-button>
    <mat-icon>assignment</mat-icon>
    Services
  </a>
  <a *ngIf="authService.isReceptionost()" [routerLink]="['panel']" mat-button>
    <mat-icon>create_new_folder</mat-icon>
    Panel
  </a>

  <div class="spacer"></div>

  <div *ngIf="isAuth; else authentificate">
    <a *ngIf="authService.isPatient()" (click)="openModalCreateAppointment()" mat-button>
      <mat-icon>event</mat-icon>
      Make an appointment
    </a>
    <a [routerLink]="['home']" mat-button
      >Profile
      <mat-icon>account_box</mat-icon>
    </a>
    <a (click)="signOut()" mat-button
      >Sign Out
      <mat-icon>logout</mat-icon>
    </a>
  </div>
  <ng-template #authentificate>
    <a (click)="openSignInDialog()" mat-button
      >Sign In
      <mat-icon>account_box</mat-icon>
    </a>
  </ng-template>
</mat-toolbar>
