@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.rotate {
  -webkit-animation: spin 1s infinite linear;
}

.justcenter {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    width: 110px;
  }
}
